/*======*/
/* Root */
/*======*/

:root{
	--font: "Roboto", "Segoe UI", sans-serif;
	--monofont : "Roboto Mono", "Consolas", monospace;
	--colorfg : #EEEEEE;
	--colorbg1: #101010;
	--colorbg2: #202020;
	--colorbg3: #303030;
	--colora1 : #F27E90;
}

/*================*/
/* General Styles */
/*================*/

html{
	font-family: var(--font);
	font-size  : 16px;
	background: var(--colorbg1);
	color : var(--colorfg); 
	/* in Chrome's default CSS but not in other browsers */
	margin: 8px; }

#centerbox {
	margin: auto;
	width : 60%;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	background: var(--colorbg2);
	overflow: auto; }

#toindex{
	position: absolute;
	padding : 28px 28px;
	top  : 1rem;
	left : 1rem;
	color: var(--colorfg); }

a{
	color: var(--colora1); }

::selection{
	background: var(--colora1);
	color: var(--colorfg); }

#horizalign{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: left;
	line-height: 0rem;
	margin: -0.5rem 1rem 0 0; }

@media (max-width: 840px) {
	#centerbox {
		width: auto; }
	#toindex {
		display: none; }
	html{
		font-size: 12px; }
}

/*========*/
/* Header */
/*========*/

.header{
	font-family: var(--monofont);
	font-size  : 2rem; 
	margin: 0;  }

p{
	font-size: 1rem; }

/*============*/
/* Link Boxes */
/*============*/

.linkbox-container {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-wrap: wrap; }

.linkbox {
	/* non-static position needed for absolute positioning */
	position: relative;
	transition-property: border-radius;
	transition-duration: 300ms;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px 0 10px 0;
	width: calc(50% - 10px); }

.linkbox:nth-child(odd) {
	margin-right: 10px; }

.linkbox:nth-child(even) {
	margin-left: 10px; }

.linkbox:hover {
	border-radius: 20px; }

/* to maintain 16:9 ratio */
.linkbox::before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
	padding-top: calc(9 / 16 * 100%); }
/* to clear float */
.linkbox::after {
	content: "";
	display: table;
	clear: both; }

/*================*/
/* Link Box Image */
/*================*/

.linkboximg {
	transition-property: filter;
	transition-duration: 300ms;
	height : 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.1); }

.linkbox:hover .linkboximg{
	filter: blur(5px) brightness(0.75); }

.linkboxtxt{
	transition-property: opacity;
	transition-duration: 300ms;
	font-size: 1.5rem; 
	opacity: 0;
	color: var(--colorfg);
	z-index : 1; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); }

.linkbox:hover .linkboxtxt{
	opacity: 1; }

/*========*/
/* Footer */
/*========*/

.footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 0em;
	margin-top: 0.5em; }