/*======*/
/* Root */
/*======*/

:root{
	--font: "Roboto", "Segoe UI", sans-serif;
	--monofont : "Roboto Mono", "Consolas", monospace;
	--colorfg : #EEEEEE;
	--colorbg1: #101010;
	--colorbg2: #202020;
	--colorbg3: #303030;
	--colora1 : #F27E90;
}

/*================*/
/* General Styles */
/*================*/

html{
	font-family: var(--font);
	font-size  : 16px;
	background: var(--colorbg1);
	color : var(--colorfg); 
	/* in Chrome's default CSS but not in other browsers */
	margin: 8px; }

#centerbox {
	margin: auto;
	width : 60%;
	position: relative;
	padding: 20px;
	border-radius: 10px;
	background: var(--colorbg2);
	overflow: auto; }

#toindex{
	position: absolute;
	padding : 28px 28px;
	top  : 1rem;
	left : 1rem;
	color: var(--colorfg); }

a{
	color: var(--colora1); }

::selection{
	background: var(--colora1);
	color: var(--colorfg); }

@media (max-width: 840px) {
	#centerbox {
		width: auto }
	#toindex {
		position: sticky;
		padding : 28px 18px 18px 18px;
		background-color: var(--colorbg3);
		opacity: 0.8;
		border-radius: 10px;
		z-index: 1; }
	html{
		font-size: 12px; }
}

/*========*/
/* Header */
/*========*/

.header{
	font-family: var(--monofont);
	font-size  : 2rem; 
	margin: 0;  }

.linkbox {
	/* non-static position needed for absolute positioning */
	position: relative;
	transition-property: border-radius;
	transition-duration: 300ms;
	border-radius: 5px;
	overflow: hidden;
	margin: 10px 0 10px 0;
	width: 100%; }

.linkbox:hover {
	border-radius: 10px; }

/* to maintain 16:9 ratio */
.linkbox::before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
	padding-top: calc(9 / 16 * 100%); }
/* to clear float */
.linkbox::after {
	content: "";
	display: table;
	clear: both; }

.linkboximg {
	transition-property: filter;
	transition-duration: 300ms;
	height : 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.1); }

.linkbox:hover .linkboximg{
	filter: blur(5px) brightness(0.75); }

.linkboxtxt{
	transition-property: opacity;
	transition-duration: 300ms;
	font-size: 1.5rem; 
	opacity: 0;
	color: var(--colorfg);
	z-index : 1; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); }

.linkbox:hover .linkboxtxt{
	opacity: 1; }

/*=========================*/
/* Variables/Settings List */
/*=========================*/

li{
	transition-property: background-color;
	transition-duration: 100ms ;
	background-color: var(--colorb2);
	border-radius: 5px;
	margin: 1rem 0 1rem 0; }

li:hover{
	background-color: var(--colorb3); }

.requirements{
	color: var(--colora1); }

code{
	background: var(--colorbg3);
	font-family: var(--monofont);
	border-radius: 3px;
	padding: 0 0.25em 0 0.25em; }